{% if 'cors' in item.value %}

    ############################## CORS ##################################

    {# Detect CORS first #}

    if ($http_origin ~* "https?://({{ item.value.cors.origins | join('|') | replace('http://', '') | replace('https://', '') | replace('.', '\.') }})") {
        set $cors 'true';
        add_header 'Access-Control-Allow-Origin' '$http_origin';
    }

    ############################## CORS ##################################

{% endif %}
