{% if 'ssl' in item.value.keys() and 'crt' in item.value.ssl.keys() and 'key' in item.value.ssl.keys()-%}
{##}
    listen 443 ssl;
    ssl_certificate /home/{{ box_user }}/ssl/{{item.key}}.crt;
    ssl_certificate_key /home/{{ box_user }}/ssl/{{item.key}}.key;
{% endif -%}
